.wrapper {
  display: flex;
  gap: 15px;
  padding: 20px;
  color: white;
  font-weight: 700;
  background-color: rgba(245, 116, 176, 0.733);
}

.link {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.activeLink {
  color: rgb(255, 48, 134);
}
